<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.79.0">
    <title>Cover Template · Bootstrap v5.0</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/cover/">

    

    <!-- Bootstrap core CSS -->
<link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet">
  </head>
    <body class="d-flex h-100 text-center text-white bg-dark">
    
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">日本地図・偉人分布</h3>
      <% if user_signed_in? %>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <%# <a class="nav-link active" aria-current="page" href="#">Home</a> %>
        <%# <%= class="nav-link" link_to "新規登録", href="#" %> %>
        <%# <%= class="nav-link" link_to "ログイン", href="#" %> %>
        <a class="nav-link" new_user_registration_path>新規登録</a>
        <a class="nav-link" href="#">ゲストログイン</a>
      <% else %>
        <a class="nav-link" href="#">ゲストログイン</a>
        <p class="nav-link"><%= link_to "新規登録", new_user_registration_path %></p>
      <% end %>
      </nav>
    </div>
  </header>

  <main class="px-3">
    <div id="title">
  </div>
    <body class="outer-frame">

    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <%= javascript_include_tag 'jquery.japan-map.min.js' %>
      <script type="text/javascript">
        // $(function(){

        //     var areas = [
        //         {code: 1 , name:"北海道地方", color:"#ca93ea", hoverColor:"#e0b1fb", prefectures:[1]},
        //         {code: 2 , name:"東北地方", color:"#a7a5ea", hoverColor:"#d6d4fd", prefectures:[2,3,4,5,6,7]},
        //         {code: 3 , name:"関東地方", color:"#84b0f6", hoverColor:"#c1d8fd", prefectures:[8,9,10,11,12,13,14]},
        //         {code: 4 , name:"北陸・甲信越地方", color:"#52d49c", hoverColor:"#93ecc5", prefectures:[15,16,17,18,19,20]},
        //         {code: 4 , name:"東海地方", color:"#77e18e", hoverColor:"#aff9bf", prefectures:[21,22,23,24]},
        //         {code: 6 , name:"近畿地方", color:"#f2db7b", hoverColor:"#f6e8ac", prefectures:[25,26,27,28,29,30]},
        //         {code: 7 , name:"中国地方", color:"#f9ca6c", hoverColor:"#ffe5b0", prefectures:[31,32,33,34,35]},
        //         {code: 8 , name:"四国地方", color:"#fbad8b", hoverColor:"#ffd7c5", prefectures:[36,37,38,39]},
        //         {code: 9 , name:"九州地方", color:"#f7a6a6", hoverColor:"#ffcece", prefectures:[40,41,42,43,44,45,46]},
        //         {code:10 , name:"沖縄地方", color:"#ea89c4", hoverColor:"#fdcae9", prefectures:[47]}
        //     ];
      $(function(){
        $("#map-container").japanMap({
            width:760,
            backgroundColor: 'linear-gradient(#05FBFF, #1E00FF)',
            onSelect : function(data){
                alert(data.name);
            }
          });
      });
      </script>
  </body>

  <div id="map-container"></div>
  </main>

        <%# <footer class="mt-auto text-white-50">
          <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
        </footer>
      </div> %>

  </body>
</html>